/* PRINCE XML
 * @author Menencia
 * CSS Version: 0.2
================== */

/* font */

@import url(http://fonts.googleapis.com/css?family=Oswald);

/* titles */

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  prince-bookmark-level: none;
  bookmark-level: none;
}

/* table of contents */

div.part h1 {
  prince-bookmark-level: 0;
  bookmark-level: 0;
}

div.prologue h1, div.chapter h2 {
  prince-bookmark-level: 1;
  bookmark-level: 1;
}

/* pages */

@page {
  size: 4.25in 7in !important;
  margin: 1.5cm;
  margin-top: 1.2cm;
  font-size: 9pt;
  orphans: 3; 
  widows: 3;  
}
@page :left {
  margin-left: 1cm;
  margin-right: 1.5cm;
}
@page :right {
  margin-left: 1.5cm;
  margin-right: 1cm;
}

/* front-matter */

@page front-matter:left {
  @bottom-left {
    font-family: "Georgia","Times New Roman", serif;
    content: counter(page);
    vertical-align: left;
  }
}
@page front-matter:right {
  @bottom-right {
    font-family: "Georgia","Times New Roman", serif;
    content: counter(page);
    vertical-align: right;
  }
}
@page front-matter:blank {
  @bottom-left {
    content: "";
  }
  @bottom-right {
    content: "";
  }
}

/* chapters */

@page chapter:left {
  @bottom-left {
  font-family: "Georgia","Times New Roman", serif;
  content: counter(page);
  vertical-align: left;
  }
}
@page chapter:right {
  @bottom-right {
  font-family: "Georgia","Times New Roman", serif;
  content: counter(page);
  vertical-align: right;
  }
}
@page chapter:blank {
  @bottom-left {
    content: "";
  }
  @bottom-right {
    content: "";
  }
}


/* Matching elements */

#toc {
  page: toc;
  prince-page-group: start;
}
div.front-matter {
  page: front-matter;
  prince-page-group: start;
}
div.front-matter.epigraph {
  page: epigraph;
  prince-page-group: start;
}
div.front-matter.introduction {
  page: introduction;
  prince-page-group: start;
}
div.chapter {
  page: chapter;
  prince-page-group: start;
}
div.back-matter {
  page: back-matter;
  prince-page-group: start;
}

/* main font */ 

body {
  font: 9pt/1.1  "Georgia", "Times New Roman", serif;
}

/* links */

a {
  border: .5px solid #02b4c1;
  color: black;
  text-decoration: none;
}

/* hyphens */

p {
  line-height: 1.2em;
  text-align: justify;
  margin-bottom: 0;
  text-indent: 1.5em;
  margin-top: 0;
}

/* halftitle page */

body &gt; h1.title:first-child {
  string-set: book-title content();
  page-break-after: always;
  font-size: 16pt;
  margin-top: 6cm;
  text-transform: uppercase;
}

/* title page */

#title-page { 
    page-break-before: right;
    height: 100%;
}

#title-page &gt; .title {
  font-size: 28pt;
  margin-top: 2cm;
  text-transform: uppercase;
}

#title-page &gt; .subtitle {
  font-size: 20pt;
  margin-top: 1.5cm;
  text-transform: uppercase;
}

#title-page &gt; div.logo {
  margin-top: 2cm;
  height: 26px;
  background-repeat: no-repeat;
  background-position: bottom center;
}

#title-page .title + div.logo {
  margin-top: 4cm;
}

#title-page &gt; .author {
  font-size: 17pt;
  margin-top: 1.5cm;
  text-transform: uppercase;  
}

/* copyright */

#copyright-page {
  page-break-before: always;
}

#copyright-page p {
  font-size: 9pt;
  text-indent: 0;
  margin-bottom: 0.5em;
}

#copyright-page &gt; .ugc {    
 float: bottom;    
}

/* page breaks */

div.part, div.front-matter, div.back-matter, div.chapter {
  page-break-before: right;
}

/* pagination */

h3.chapter-number {
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 1em;
  text-transform: uppercase;
  margin-bottom: 3em;
}

.display-none, h3.part-number, h3.front-matter-number, h3.back-matter-number {
  display: none;
}
