/* 
 * Règles de style pour le roman
 * 
 * FINAL FANTASY VII: EXPÉRIENCE
 * 
 * @author  Menencia
 * @version 0.4
 */

/* 
 * Polices utilisées 
 * 
 * Décommenter la police JPN et la classe .japanese 
 * uniquement pour le chapitre 62
 */

@import url(https://fonts.googleapis.com/css?family=Lato:700);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700);
/*@import url(http://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

.japanese {
    font-family: 'cwTeXFangSong', serif;
    color: #000;
}*/

/* 
 * Texte général
 * 
 * Version livre: 12pt/1.5
 * Version PDF: 11pt/1.3
 */

body {
    font: 12pt/1.5 "Crimson Text", "Times", serif;
}

/* Paragraphes : indentation, marges */

p {
    text-align: justify;
    text-indent: 0.2in;
    margin: 0;
}
            
/* Liens : soulignés */

a, a:visited {
    color: #444;
    text-decoration: underline;
}

/* 
 * Dimensions des pages + marges intérieures 
 * 
 * Important : laisser la mention pour être en 
 * priorité sur les options de PB 
 */

@page {
    size: 4.25in 7in !important;
    margin: 0.5in;
    orphans: 3;
    widows: 3;
}

@page :left {
    margin-right: 0.75in;
}

@page :right {
    margin-left: 0.75in;
}

/* 
 * Prologue 
 * 
 * Pagination en fonction de la parité
 * Ne pas afficher si on est sur une page blanche
 */

@page front-matter:left {
    @bottom-left {
        content: counter(page);
        vertical-align: left;
        font: 9pt 'Lato', sans-serif;
        color: #999;
    }
}

@page front-matter:right {
    @bottom-right {
        content: counter(page);
        vertical-align: right;
        font: 9pt 'Lato', sans-serif;
        color: #999;
    }
}

@page front-matter:blank {
    @bottom-left {
        content: "";
    }
    @bottom-right {
        content: "";
    }
}

/* 
 * Ne pas afficher les numéros de chapitre
 *
 * (épigraphe, avant-propos, prologue)
 * (page de livre)
 * (à suivre)
 */

h3.part-number, 
h3.front-matter-number, 
h3.back-matter-number {
    display: none;
}

/* 
 * Première page de titre 
 * 
 * Affichage du titre uniquement
 */

body &gt; h1.title:first-child {
    string-set: book-title content();
    font-size: 16pt;
    margin-top: 6em;
    text-transform: uppercase;
}

/* 
 * Seconde page de titre
 * 
 * Titre / Auteurs
 */

#title-page &gt; .title {
    font-size: 26pt;
    margin-top: 2em;
    text-transform: uppercase;
}

#title-page &gt; .author {
    font-size: 16pt;
    margin-top: 2em;
    text-transform: uppercase;
}

/* 
 * Page de copyright 
 * 
 * Texte placé tout en bas
 */

#copyright-page p {
    font-size: 9pt;
    text-indent: 0;
    margin-bottom: 1em;
    float: bottom;
}

/* 
 * Page de l'épigraphe 
 *
 * Texte justifié finalement
 */

#epigraphe p:first-child {
    text-indent: 0;
    text-align: justify;
    margin-top: 10em;
}

/* Page de livre */

.part h1 {
    margin-top: 4em;
}

/* 
 * Chapitres
 * 
 * Pagination en fonction de la parité
 * Ne pas afficher si on est sur une page blanche
 */

@page chapter:left {
    @bottom-left {
        content: counter(page);
        vertical-align: left;
        font: 9pt 'Lato', sans-serif;
        color: #999;
    }
}

@page chapter:right {
    @bottom-right {
        content: counter(page);
        vertical-align: right;
        font: 9pt 'Lato', sans-serif;
        color: #999;
    }
}

@page chapter:blank {
    @bottom-left {
        content: "";
    }
    @bottom-right {
        content: "";
    }
}

/* Style des numéros de chapitre */

.chapter-number {
    width: 0.25in;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    margin-top: 3em;
    border-bottom: 1px solid #444;
}

/* 
 * Styles des titres en général
 */

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    
    /* Initialisation de la table des matières */
    prince-bookmark-level: none;
    bookmark-level: none;
}

/* Style des titres pour le prologue */

.front-matter-title {
    margin-top: 3em;
    margin-bottom: 2em;
}

/* Style des titres pour les chapitres */

.chapter-title {
    margin-bottom: 2em;
}

/*
 * Page "à suivre"
 */

#a-suivre p {
    margin-top: 10em;
}

/* 
 * Table des matières
 */

#prologue h1, div.part h1, #a-suivre h1 {
    prince-bookmark-level: 0;
    bookmark-level: 0;
}

.chapter h2 {
    prince-bookmark-level: 1;
    bookmark-level: 1;
}

#prologue {
    page: front-matter;
    prince-page-group: start;
}

.chapter {
    page: chapter;
    prince-page-group: start;
}

/* 
 * Saut à la page
 * 
 * Forcer et aller à la page suivante à la fin de chaque section
 */

#title-page, 
#copyright-page, 
.front-matter, 
.part, 
.chapter, 
.back-matter {
    page-break-before: right;
}

/*
 * Règle par défaut
 */

.display-none { 
    display: none;
}
